/**
 * Masonry Gallery
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */
.gallery-w-copy {
  padding-bottom: $padding-small;
  li {
    figure {
      min-height: 50vh;
      [data-background]{
        display: table;
        width: 100%;
        height: inherit;
        min-height: inherit;
      }
      figcaption {
        p:first-of-type {
          margin-top: $padding-medium;
        }
        strong {
          margin-top: $padding-medium;
          padding-bottom: $padding-small;
          border-bottom: solid 1px $smoke;
        }
      }
    }
  }
  h4 {
    margin-top: $padding-medium;
  }
  @include screen-lg-up {
    padding-bottom: $padding-large;
    h4 {
      margin-top: $padding-large;
    }
  }
}