/**
 * Timeline Archive
 */
.post-type-archive-timeline {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  > footer {
    display: none;
  }

  .panel {
    cursor: pointer;
    z-index: 1;
    overflow: visible;
    p {
      font-size: rem-calc(14);
      font-weight: $text-light;
    }
    .tags {
      margin-top: $grid-gutter-width * 3;
    }
  }
}
.hope-testimonial-columns {
  flex-flow: nowrap;
  flex: 0 0 auto;
  width: auto;
  overflow-x: visible;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: 0.15s ease-in-out;
  .feature {
    display: inline !important;
  }
  @include screen-lg-up {
    background-attachment: fixed;
  }

  h3 {
    margin-bottom: $grid-column-padding;
    font-size: rem-calc(16);
    font-weight: $text-medium;
  }

  .panel {
    position: relative;
    max-width: 250px;
    color: $white;
    transition: 0.35s 1s ease-in-out;
    button,
    .button {
      margin-top: auto;
    }
    .button-open {
      transform: scale(1.5);
      left: rem-calc(-8);
    }
    @include screen-lg-up {
      flex: 0 0 auto;
      background-attachment: fixed;
      &:hover {
        box-shadow: 0 0 #{rem-calc(40)} $black;
        button,
        .button {
          svg, span {
            opacity: 1;
          }
        }
      }
      &.col:not([data]) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @include screen-sm {
      height: auto;
      width: 100%;
      display: block;
    }

    &::after {
      @extend %overlay;
      background-color: rgba( $black, 0.3 );
      z-index: -1;
    }

    &.open { // Handles the testimonial that is currently open
      background-image: none !important;
      background-color: $smoke !important;
      box-shadow: 0 0 40px black inset;
      .hope-testimonial-columns__intro {
        visibility: hidden;
        transform: translate3d(0, 10%, 0);
        opacity: 0;
        transition: opacity 0.35s ease-in-out,
                    transform 0.35s ease-in-out,
                    visibility 0.35s ease-in-out;

        @include screen-sm {
          visibility: visible;
          transform: translateY(0);
          opacity: 1;
          width: 100%;
          padding-bottom: 0;
        }
      }

      .hope-testimonial-columns__main {
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        height: auto;
        transition: opacity 0.35s 1s ease-in-out,
                    transform 0.35s 1s ease-in-out,
                    visibility 0.35s 1s ease-in-out;

        @include screen-sm {
          transition: opacity 0.35s ease-in-out,
                    transform 0.35s ease-in-out,
                    visibility 0.35s ease-in-out;
        }
        .button-cta,
        .button-close {
          margin-top: auto;
          svg, span {
            opacity: 1;
          }
        }
        .button-close {
          position: absolute;
          left: rem-calc(-8);
          top: 50%;
          transform: scale(1.5) rotate(45deg);
        }
      }
    }

    &.dim {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right:0;
        bottom:0;
        top: 0;
        background-color: rgba($black, 0.3);
      }
    }

    &.transparent {
      background-image: none !important;
    }
  }

  section {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    padding: 0 6em 0 2em;
    font-size: 0.9em;
    height: auto;
    transition: opacity 0.35s 1.5s ease-in-out,
                transform 0.35s 1.5s ease-in-out,
                visibility 0.35s 1.5s ease-in-out;

    @include screen-md {
      font-size: 0.8em;
    }

    @include screen-sm {
      padding: 2em;
      width: 100%;
      position: relative;
      top: inherit;
      left: inherit;
      transform: inherit;
    }

    h2 {
      margin-top: 0;
      font-size: rem-calc(60);
      font-weight: $text-light;
    }

    .open-testimonial {
      position: absolute;
      top: 50%;
      left: rem-calc(-8);
    }
  }

  article {
    position: absolute;
    padding: 0 2em 5em;
    font-size: 0.9em;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    max-width: 450px;
    pointer-events: none;
    transition: opacity 0.35s ease-in-out,
                transform 0.35s ease-in-out,
                visibility 0.35s ease-in-out;

    @include screen-xl {
      padding: 0 2em 2em;
    }

    @include screen-sm {
      padding: 0 1.5em 5em;
      transition: none;

      .hope-testimonial-columns__main-info {
        display: none;
      }
    }

    .hope-testimonial-columns__main-info {
      @include screen-sm {
        display: none;
      }
    }
  }
}
