/**
 * Project Archive
 */
.post-type-archive-project {
  height: 100vh;
  overflow: hidden;
  position: relative;
  #project-globe {
    height: 100vh;
    top: 0;
    z-index: 1;
    padding: 0;
    canvas {
      background-color: transparent;
    }
  }
  main, & > article, & > aside, & > footer {
    position: fixed;
  }
  main,
  & > article {
    background-color: rgba($black, 0.6);
  }
  [data-component=callout-numbers].callout-numbers {
    background-color: transparent;
  }
  & > article,
  [data-component=callout-numbers].callout-numbers {
    box-shadow: none;
  }

  &.globe-selection-made {
    height: auto;
    overflow: initial;
    & > aside,
    main,
    footer,
    article.content {
      position: relative;
    }
    #project-globe {
      position: fixed;
      z-index: 0;
    }
    main,
    article.content {
      z-index: 1;
    }
    main {
      top: 0;
    }
    article.content {
      top: initial;
      height: auto;
    }
  }
}