/**
 * Project Archive
 */
.post-type-archive-project {
  height: 100vh;
  overflow: hidden;
  position: relative;
  #project-globe {
    height: 100vh;
    top: 0;
    z-index: 1;
    padding: 0;
    canvas {
      background-color: transparent;
    }
  }
  & > article, & > aside, & > footer {
    position: fixed;
  }
  main,
  & > article {
    background-color: rgba($black, 0.6);
  }

  [data-component=callout-numbers].callout-numbers {
    background-color: transparent;
  }

  & > article,
  [data-component=callout-numbers].callout-numbers {
    box-shadow: none;
  }

  main.hero {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    h2 {
      position: absolute;
      bottom: $padding-small;
      @include screen-md-only {
        bottom: $padding-medium;
      }
      @include screen-lg-up {
        bottom: $padding-large;
      }
    }
  }

  article.hero {
    min-height: 100vh;
  }

  &.globe-selection-made {
    height: auto;
    overflow: initial;
    & > aside,
    footer,
    article.content.active {
      position: relative;
    }
    #project-globe {
      position: fixed;
      z-index: 0;
    }
    article.content {
      &.active {
        z-index: 1;
        top: initial;
        height: auto;
      }
      &:not(.active) {
        display: none;
      }
    }
    [data-location-nav] {
      display: block;
    }
  }

  [data-location-nav] {
    position: fixed;
    top:  $padding-large;
    right: $padding-small;
    z-index: 10;
    display: none;
    transform-origin: center;
  }
}