/**
 * Kitchen Sink
 */
 body.page-kitchen-sink {
  [data-component="locations"] {
    margin-bottom: $padding-large;
  }
  [data-slick-nav]>div {
    justify-content: center !important;
  }
  .hero-nav,
  section {
    width: 100vw;
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
  }
  > aside.content,
  > article.content {
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
    box-shadow: none;
  }
  > article.content {
    background-color: $grey;
  }
  > aside.content {
    h2 {
      margin-bottom: $padding-xsmall;
    }
    background-color: $black;
    border-top: solid 1px $smoke;
  }
  section:not(.accordion):not(.locations):not([class*="-card"]) {
    padding-top: 120px;
  }
}