/**
 * Kitchen Sink
 */
 body.page-kitchen-sink {
  [data-component="locations"] {
    margin-bottom: rem-calc(120);
  }
  [data-slick-nav]>div {
    justify-content: center !important;
  }
  > aside.content,
  > article.content {
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width * 2;
    box-shadow: none;
  }
  > article.content {
    background-color: $grey;
  }
  > aside.content {
    h2 {
      margin-bottom: $grid-column-padding;
    }
    background-color: $black;
    border-top: solid 1px $smoke;
  }
  section:not(.accordion):not(.locations):not([class*="-card"]) {
    padding-top: 120px;
  }
}