/**
 * Single Project
 */
.single-project {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .icon-location {
    width: rem-calc(25);
    height: rem-calc(25);
    margin-right: $padding-xsmall;
    color: $yellow;
    fill: $yellow;
  }
  #project-globe {
    height: 100vh;
    top: 0;
    z-index: 1;
    padding: 0;
    canvas {
      background-color: transparent;
    }
  }
  main.hero {
    position: absolute;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    top: initial;
    height: auto;
    padding-top: 0;
    div:first-of-type {
      margin-bottom: 0;
    }
    div:last-of-type {
      margin-top: 0;
    }
  }
  main, & > article, & > aside, & > footer {
    position: fixed;
  }
  main,
  & > article {
    background-color: rgba($black, 0.6);
  }
  [data-component=callout-numbers].callout-numbers {
    background-color: transparent;
  }
  & > article,
  [data-component=callout-numbers].callout-numbers {
    box-shadow: none;
  }

  &.globe-selection-made {
    height: auto;
    overflow: initial;
    & > aside,
    main,
    footer,
    article.content {
      position: relative;
    }
    #project-globe {
      position: fixed;
      z-index: 0;
    }
    main,
    article.content {
      z-index: 1;
    }
    main {
      top: 0;
    }
    article.content {
      top: initial;
      height: auto;
    }
  }
}