/**
 * Single Team Member
 */
.single {
    padding-bottom: $padding-small;
  > article {
    background-color: #0d0d0d;
  }
  &.single-post {
    @include screen-lg-up {
      padding-bottom: $padding-large;
    }
    main.hero,
    main.hero .picture[data-background] {
      min-height: rem-calc(550);
      h1 {
        align-self: flex-end;
        padding-bottom: $padding-large;
        text-align: left;
      }
    }
    .hentry {
      header {
        margin-top: $padding-large;
      }
      .container > {
        h4, h3, h2, figure {
          margin-bottom: $grid-gutter-width * 3;
        }
        h5, h6 {
          margin-bottom: $padding-small;
        }
        ol, ul, dl, p {
          margin-bottom: $padding-medium;
        }
        p {
          font-size: rem-calc(16);
          font-weight: $text-light;
        }
        * {
          margin-left: 0;
          &:last-child {
            margin-bottom: auto;
            padding-bottom: 0;
          }
        }
      }
    }
    .related_news_and_media {
      margin-top: $padding-large;
      h3 {
        margin-left: 0;
        margin-bottom: $padding-medium;
      }
      figure {
        min-height: 50vh;
        [data-background]{
          box-shadow: none;
          background-blend-mode: initial;
          display: table;
          width: 100%;
          height: inherit;
          min-height: inherit;
        }
        figcaption {
          p {
            font-size: rem-calc(16);
            font-weight: $text-light;
            &:first-of-type {
              margin-top: $grid-gutter-width;
            }
          }
          strong {
            margin-top: $grid-gutter-width;
            padding-bottom: $padding-small;
            border-bottom: solid 1px $smoke;
          }
        }
      }
    }
  }
}