/**
 * Single Team Member
 */
.single-team {
  main {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
    hr {
      height: 1px;
      margin-bottom: $padding-small;
    }
    h1 {
      font-weight: $text-light;
    }
    h1, h6 {
      margin-bottom: $padding-small;
    }
    p {
      font-size: rem-calc(14);
      font-weight: $text-light;
    }
  }
}