/**
 * locations-filterable Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */


section[data-component="locations-filterable"] {
  article.content & {
    width: calc(100% + #{2 * $padding-small});
  }
  padding-top: $padding-medium;
  padding-bottom: $padding-small;
  @include screen-lg-up {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
}

.locations-filterable {
  @include raised;
  h2 {
    width: 100%;
  }
  h3 {
    margin-bottom: $padding-small;
  }
  @include screen-lg-up {
    article.content & {
      padding-top: $padding-large;
      padding-bottom: $padding-large;
    }
  }
  a {
    font-weight: $text-regular;
  }
  address, a[href*="tel:"] {
    margin-bottom: $padding-xsmall;
    font-size: inherit;
    font-weight: inherit;
  }
  dl {
    margin-top: 0;
    margin-bottom: $grid-gutter-width * 3;
    div:last-of-type {
      dd {
        margin-bottom: auto;
      }
    }
    dd {
      margin-bottom: $padding-medium;
    }
    dt {
      margin-bottom: rem-calc(10);
    }
    dd, dt {
      font-size: rem-calc(14);
    }
  }
  .filters {
    margin-bottom: $padding-large;
    input:not([type="button"]):not([type="image"]):not([type="submit"]) {
      padding-bottom: rem-calc(19);
    }
    input:not([type="button"]):not([type="image"]):not([type="submit"]),
    select {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
