/**
 * related-nav Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.related-nav {
  button:not([data-nav]):not(.mfp-close):not([class*=slick]) {
    position: fixed;
    z-index: 9;
    right: 0;
    bottom: $padding-small;
    margin: auto;
    padding: $padding-small;
    background-color: #121212;
    box-shadow: #{rem-calc(-4)} #{rem-calc(-4)} #{rem-calc(39)} 0 $black;
    path {
      fill: $white;
    }
    @include screen-lg-up {
      &:hover {
        path {
          fill: $yellow;
        }
        svg {
          animation: animateIcon 1s linear 0s infinite;
        }
      }
    }

    &.active {
      path {
        fill: $yellow;
      }
    }
  }

  @keyframes animateIcon {
    from {
      transform: rotate(0deg);
    },
    to {
      transform: rotate(360deg)
    }
  }
  h6 {
    padding-right: $padding-xsmall;
    padding-left: $padding-xsmall;
  }
  dl {
    max-width: 360px;
    padding: 0 $padding-xsmall;
    @include flexible;
    div {
      padding-top: $padding-xsmall;
      padding-bottom: $padding-xsmall;
      border-bottom: solid 1px $smoke;
      &:first-of-type {
        border-top: solid 1px $smoke;
      }
    }
    dt, dd {
      font-size: rem-calc(14);
    }
    dd {
      &.col:not([data-component]) {
        padding-right: 0;
      }
    }
    dt {
      color: $aluminum;
      &.col:not([data-component]) {
        padding-left: 0;
      }
    }
  }
  nav {
    position: fixed;
    bottom: rem-calc(104);
    right: 0;
    z-index: 10;
    width: auto;
    display: none;
    padding: $padding-medium;
    background-color: #121212;
    box-shadow: #{rem-calc(-4)} #{rem-calc(-4)} #{rem-calc(39)} 0 $black;
    &.active {
      display: block;
    }
  }
}
