[data-component="callout-numbers"].callout-numbers{
  min-height: 300px;
  article.content .container & {
    width: calc(100% + #{$padding-medium});
  }
  margin-left: $grid-gutter-width * -1;
  margin-right: $grid-gutter-width * -1;
  padding-top: $padding-large;
  padding-bottom: $padding-large;
  @include raised;
  h2, h3, dt {
    color: $white;
  }
  dl {
    margin-top: 0;
    margin-bottom: 0;
    div {
      @include screen-sm {
        border-bottom: solid 1px $smoke;
        &.col:not([data-component]):not([data-slick-nav]) {
          padding-top: $grid-gutter-width;
          padding-bottom: $grid-column-padding;
          &:first-of-type {
            padding-top: 0;
          }
          &:last-of-type {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
      @include screen-sm-up {
        border-right: solid 1px $smoke;
        border-left: solid 1px $smoke;
        &:first-of-type {
          border-left: none;
        }
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
  dt {
    font-size: rem-calc(28);
    font-weight: $text-regular;
  }
  dd {
    padding: #{$grid-column-padding} #{$grid-column-padding * 4.25} 0 #{$grid-column-padding * 4.25};
    font-size: rem-calc(16);
    font-weight: $text-medium;
    line-height: 1.875;
    color: $aluminum;
  }
  p {
    margin-bottom: $padding-medium;
    font-size: rem-calc(16);
    line-height: 1.75;
    color: $aluminum;
  }
}
