/**
 * Capability Card
 * ----------------------------------------------------------------------------
 *
 * Similar to the Division Card, show the related capabilites CPTs and content about this innovation
 *
 */
.capability-card {
  width: 100%;
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  figure {
    > img {
      margin-bottom: $grid-gutter-width + $grid-column-padding;
    }
    @include screen-sm {
      &.col:not([data-component]):not([data-slick-nav]) {
        padding-bottom: $grid-gutter-width;
      }
      border-bottom: solid 1px $smoke;
    }
    figcaption {
      > strong {
        margin-bottom: $grid-column-padding;
      }
      ul {
        margin-top: 0;
        margin-bottom: $grid-gutter-width * 2;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  dl {
    @include screen-sm-up {
      border-left: solid 1px $smoke;
      margin-left: $grid-column-padding;
      width: calc(66.6667% - #{$grid-column-padding});
    }
    @include screen-md-up {
      dt {
        padding-left: $grid-gutter-width * 2 !important;
      }
    }
    @include screen-sm {
      margin-top: 0;
      &.col:not([data-component]):not([data-slick-nav]) {
        padding-top: $grid-gutter-width;
        padding-left: 0;
        padding-right: 0;
      }
      .row {
        margin-left: $grid-column-padding;
        margin-right: $grid-column-padding;
      }
    }
    > div:last-of-type {
      dt, dd {
        margin-bottom: auto;
      }
    }
    dt, dd {
      display: flex;
      width: 50%;
      flex: 0 0.5 auto;
      margin-bottom: $grid-gutter-width * 2;
    }
  }
  nav {
    margin-top: $grid-gutter-width * 2;
    margin-bottom: $grid-gutter-width * 2;
    @include screen-lg-up {
      margin-top: rem-calc(120);
    }
  }
}