/* Styles are inherited from the default _button.scss file */
a.button,
button.button {
  margin-top: rem-calc(25);
}
.button {
  @include flexible(flex-start, center);
  font-size: rem-calc(16);
  cursor: pointer;
  body.page-template-template-home band.content &, 
  body.page-template-template-home headline.content & {
    font-size: rem-calc(20);
  }
  .icon {
    width: rem-calc(20);
    height: rem-calc(20);
    margin-right: rem-calc(10);
    padding: #{rem-calc(3)};
    border-radius: 100px;
    color: $black;
    font-size: rem-calc(16);
    line-height: 1;
    text-align: center;
    fill: $black;
    background-color: $white;
  }
  &.button-large {
    font-size: rem-calc(32);
    .icon {
      width: rem-calc(32);
      height: rem-calc(32);
    }
  }
  &.dark {
    .icon {
      color: $white;
      fill: $white;
      background-color: $grey;
    }
  }
}