/**
 * logo-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.logo-grid {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  @include screen-md-up {
    padding-top: $padding-large;
  }
  h2 {
    margin-top: $grid-gutter-width;
    margin-bottom: $padding-xsmall;
  }
  p {
    max-width: 480px;
    margin-bottom: $grid-column-padding * 3;
    font-size: rem-calc(20);
    font-weight: $text-light;
  }
  + .logo-grid {
    padding-top: 0;
    .container {
      padding-top: $padding-medium;
      border-top: solid 1px $grey;
    }
  }
  .box-grid [class*=col],
  .box-grid [class^=col] {
    .row & {
      padding-top: $grid-column-padding * 3;
      padding-bottom: $grid-column-padding * 3;
    }
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  @include screen-sm {
    img {
      margin: auto;
    }
  }
}
