/**
 * logo-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.logo-grid {
  padding-top: rem-calc(120);
  padding-bottom: $grid-gutter-width * 2;
  h2 {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-column-padding;
  }
  p {
    max-width: 480px;
    margin-bottom: $grid-column-padding * 3;
    font-size: rem-calc(20);
    font-weight: $text-light;
  }
  + .logo-grid {
    padding-top: 0;
    .container {
      padding-top: $grid-gutter-width * 2;
      border-top: solid 1px $grey;
    }
  }
  .box-grid .col {
    padding-top: $grid-column-padding * 3;
    padding-bottom: $grid-column-padding * 3;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
