/**
 * Gravity Forms
 */

/**
 * General
 */

.gform_wrapper {
  width: 100%;
  .gform_title {
    font-size: rem-calc(32);
    font-weight: $text-medium;
  }
}

.gform_fields {
  @include flexible(start, start, column);
  .content & {
    &:not(.no-bullet) {
      padding: 0;
      margin: 0;
      li:before {
        position: initial;
        content: initial;
      }
    }
  }
  .gfield {
    width: 100%;
    flex: 0 1 auto;
    @include screen-lg-up {
      width: 50%;
      flex: 0 0.5 auto;
      padding-left: $grid-column-padding;
      padding-right: $grid-column-padding;
    }
  }
}
.gform_title {
  margin-bottom: $padding-small;
  @include screen-lg-up {
    padding-left: $grid-column-padding;
    padding-right: $grid-column-padding;
  }
}
/**
 * Validation
 */

.gfield_error {
  input,
  textarea {
    border-color: $danger-color;
  }
}

.validation_error {
  color: $danger-color;
  background-color: $danger-background;
  border: 1px solid $danger-border;
  padding: 10px;
  margin: 15px 0;
}

.validation_message {
  color: $danger-color;
}

// Honeypot
.gform_validation_container {
  display: none;
}
