/**
 * Content
 */
.content {
  article &,
  section & {
    padding-top: $padding-small;
    padding-bottom: $padding-small;
    @include screen-lg-up {      
      padding-top: $padding-medium;
      padding-bottom: $padding-medium;
    }
  }
  ol {
    padding-left: rem-calc(17.5);
  }

  ul:not(.no-bullet) {
    list-style: none;
    padding-left: $padding-xsmall;
    padding-right: $padding-small;
    li {
      margin-bottom: $padding-xsmall;
      &:before {
        position: absolute;
        content: '•';
        margin-left: calc( -1 * #{$padding-xsmall});
        font-size: rem-calc(16);
      }
    }
  }
}
