/**
 * Content
 */
.content {
  article &,
  section & {
    padding-top: $grid-gutter-width;
    padding-bottom: $padding-small;
  }
  ol {
    padding-left: rem-calc(17.5);
  }

  ul:not(.no-bullet) {
    list-style: none;
    padding-left: $grid-column-padding;
    li {
      margin-bottom: $padding-xsmall;
      &:before {
        position: absolute;
        content: '•';
        margin-left: calc( -1 * #{$grid-column-padding});
        font-size: rem-calc(16);
      }
    }
  }
}
