/**
 * Sidebar styles
 */
.widgettitle {
  display: none;
}

.widget {
  align-self: stretch;
  ul li {
    border-top: solid 1px $coal;
    &:last-child {
      border-bottom: solid 1px $coal;
    }
  }
}