/**
 * Masonry Gallery
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */
.gallery-masonry {
  padding-bottom: $padding-small;
  body>article>.container> & {
    &:last-child {
      padding-bottom: $padding-small;
    }
  }
  h4 {
    margin-top: 120px;
  }
  .brick {
    min-height: 50vh;
    max-height: 320px;
    margin-top: $padding-xsmall;
    margin-bottom: $padding-xsmall;
    .picture {
      display: table;
      width: 100%;
      height: inherit;
      min-height: inherit;
    }
  }
  @include screen-md {
    .brick {
      min-height: initial;
      height: $thumbnail-height;
    }
    .picture {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  @include screen-lg-up {
    padding-bottom: calc(50vh + #{$padding-large});
    body>article>.container> & {
      &:last-child {
        padding-bottom: calc(50vh + #{$padding-large});
      }
    }
    &:not(.lefty):not(.righty) {
      padding-bottom: $padding-large;
    }
    body>article>.container> & {
      &:not(.lefty):not(.righty):last-child {
        padding-bottom: $padding-large;
      }
    }
    &.lefty {
      .brick {
        &:nth-of-type(3n+2) {
          transform: translateY(25vh);
        }
        &:nth-of-type(3n+3) {
          transform: translateY(50vh);
        }
      }
    }
    &.righty {
      .brick {
        &:nth-of-type(3n+2) {
          transform: translateY(25vh);
        }
        &:nth-of-type(3n+1) {
          transform: translateY(50vh);
        }
      }
    }
  }
}