[data-component="callout"]{
  min-height: 50vh;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: #191919;
  * {
    color: $white;
    align-self: center;
  }

  nav {
    margin-top: rem-calc(50);
    text-align: center;
    button, .button {
      font-size: rem-calc(16);
    }
  }

  p {
    font-size: rem-calc(18);
    line-height: 1.75;
  }

  @include screen-lg-up {
    p {
      font-size: rem-calc(21);
    }
    .hero, nav {
      width: 50%;
    }
  }
}
