/**
 * capability-teaser Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.capability-teaser {
  @include screen-lg-up {
    dl {
      &.col:not([data]) {
        padding-left: $grid-gutter-width * 4;
      }
    }
  }
  dt, p {
    margin-bottom: $grid-gutter-width;
  }
  p, li {
    &:last-child {
      margin-bottom: auto;
      padding-bottom: 0;
    }
  }
  a.button {
    position: absolute;
    margin-left: rem-calc(-26);
    @include screen-sm {
      margin-top: rem-calc(60);
    }
    @include screen-md-up {
      bottom: $grid-gutter-width * 2;
    }
    .icon {
      width: rem-calc(28);
      height: rem-calc(28);
      font-size: rem-calc(28);
    }
  }
  .container {
    margin-bottom: $grid-gutter-width * 2;
    @include screen-lg-up {
      margin-bottom: rem-calc(125);
    }
  }
  .picture {
    min-height: 140px;
    @include screen-sm {
      margin-bottom: $grid-gutter-width;
    }
  }
}
