/**
 * Slick Slider Gallery
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */
.slideshow.fullwidth {
  .row.container {
    max-width: none;
    padding: 0;
  }
}
section + .hero-nav {
  width: $container-width;
  > .wrapper {
    width: inherit;
  }
  progress {
    width: calc(100% - #{rem-calc(150)});
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0;
  .row & {
    &[class^="col"]:not([class*="xxs-"]):not([class*="xs-"]):not([class*="sm-"]):not([class*="md-"]):not([class*="lg-"]):not([class*="xl-"]),
    &[class*="col-"]:not([class*="xxs-"]):not([class*="xs-"]):not([class*="sm-"]):not([class*="md-"]):not([class*="lg-"]):not([class*="xl-"]) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  touch-action: pan-y;
  .slick-track,
  .slick-list {
    transform: translate3d(0, 0, 0);
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus {
      outline: none;
    }
    &.dragging {
      cursor: pointer;
    }
  }
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:before,
    &:after {
      display: table;
      content: '';
    }
    &:after {
      clear: both;
    }
    .slick-loading & {
      visibility: hidden;
    }
  }
}

/* Slide */
.slick-slide {
  display: none;
  float: left;
  height: 100vh;
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
  [dir='rtl'] & {
    float: right;
  }
  .slick-initialized & {
    display: block;
  }
  .slick-loading & {
    visibility: hidden;
  }
  .slick-vertical & {
    display: block;
    height: auto;
    border: none;
  }
  img {
    display: block;
    margin-right: 0;
    margin-left: auto;
    opacity: 0;
  }
}

/* Arrows */
.slick-arrow.slick-hidden {
  display: none;
}

/* Progress Bar */
[data-slick-progress] {
  order: 2;
}

/* Numbers */
[data-slick-details] {
  display: block;
  order: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 1px;
}

/* Nav */
[data-slick-nav] > div {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  padding-right: 0;
  padding-left: 0;
  @include screen-lg-up {
    padding-top: rem-calc(80);
    padding-bottom: rem-calc(80);
  }
  @include flexible(start);
  button, .button {
    display: flex !important;
    background: none;
    border: none;
    outline: none;
    @include screen-lg-up {
      &:hover {
        color: $yellow;
        svg {
          fill: $yellow;
        }
      }
    }
    &:focus {
      outline: none;
      color: $yellow;
      svg {
        fill: $yellow;
      }
    }
    svg {
      width: rem-calc(32);
      height: rem-calc(32);
      fill: $silver;
    }
    &:first-of-type {
      order: 3;
    }
    &:last-of-type {
      order: 4;
    }
  }
}