/**
 * leader-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */
section[data-component="leader-grid"] {
  article & {
    @include section;
    @include screen-md-up {
      padding-top: 0;
    }
  }
}
.leader-grid {
  width: 100%;
  h3 {
    font-size: rem-calc(20);
    font-weight: $text-light;
    padding: #{rem-calc(25)} 0;
  }
  dl {
    display: flex;
    flex-direction: column;
    border-top: solid 1px $coal;
    margin-top: 0;
    padding-top: rem-calc(25);
    div {
      width: 100%;
    }
    dt, dd {
      padding: #{rem-calc(25)} 0;
      font-size: rem-calc(14);
    }
    .row dd[class*=col-] {
      padding-right: 0;
    }
    .row dt[class*=col-] {
      padding-left: 0;
    }
    dt {
      font-weight: $text-medium;
    }
  }
  .slick-slider {
    margin-left: auto;
    margin-right: 0;
    .slick-arrow {
      display: none;
    }
  }
  .thumbnail {
    body.home & {
      width: 25%;
    }

    @include screen-sm {
      width: 100%;
    }
    @include screen-md {
      margin-bottom: $padding-medium;
      [data-background] {
        min-height: initial;
        height: $thumbnail-height;
      }
    }
    &:hover {
      background-color: transparent !important;
    }
  }
}