[data-component="accordion"] {
  position: relative;
  width: 100%;
  padding-top: rem-calc(120);
  padding-bottom: rem-calc(120);
  background-color: transparent;
  background-size: cover;
  .thumbnail {
    width: 100%;
    [data-background] {
      min-height: 100px;
      height: rem-calc(230);
    }
    button,
    .button {
      bottom: rem-calc(-18);
      display: block;
      z-index: 1;
      margin-left: rem-calc(25);
      margin-bottom: auto;
    }
  }
  @include screen-lg-up {
    .accordion {
      position: absolute;
      display: none;
      opacity: 0;
      background-color: $ebony;
      box-shadow: 0 0 #{rem-calc(30)} 0 $black;
      &.active {
        display: block;
        opacity: 1;
      }
    }
    .accordion--trigger {
      cursor: pointer;
      background-size: 30%;
      padding: $grid-column-padding;
      min-height:75px;
    }
  }
  //The accordion itself
  dl {
    flex-direction: column;
    justify-content: flex-start;
    min-height: rem-calc(420);
    margin: auto;
    dd, dt, dd > div{
      display: flex;
      align-self: flex-start;
    }
    //The trigger, and on mobile, the headline
    dt {
      background-size:contain;
      background-position: center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: auto;
        &:nth-of-type(2) {
          display: none;
        }
      }
      &:hover {
        img {
          display: none;
          &:nth-of-type(2) {
            display: intial;
          }
        }
      }
    }
    dd {
      button, a {
        &.button {
          margin: auto auto #{rem-calc(10)} auto;
          font-size: rem-calc(14);
        }
      }
    }
  }
  figcaption {
    > * {
      padding-top: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
  li {
    h6 {
      margin-bottom: $grid-column-padding;
    }
  }
  nav {
    position: relative;
    button {
      &.muted {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }
  .feature {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}