[data-component="accordion"] {
  position: relative;
  width: 100%;
  padding-top: rem-calc(120);
  padding-bottom: rem-calc(120);
  background-color: transparent;
  background-size: 125% auto;
  background-position: top center;
  .slider {
    &.row li[class*="col"] {
      padding-left: $grid-column-padding;
      padding-right: $grid-column-padding;
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
  .accordion-nav {
    margin-top: $grid-gutter-width;
    .accordion-nav__info {
      svg {
        margin-left: $grid-column-padding;
        margin-top: rem-calc(16);
        transform: rotate(-45deg);
        margin-right: rem-calc(64);
      }
    }
  }
  .thumbnail {
    width: 100%;
    [data-background] {
      min-height: 100px;
      height: rem-calc(230);
    }
    button,
    .button {
      bottom: rem-calc(-18);
      display: block;
      z-index: 1;
      margin-left: rem-calc(25);
      margin-bottom: auto;
    }
  }
  @include screen-lg-up {
    .accordion {
      display: none;
      padding: $grid-gutter-width * 3;
      opacity: 0;
      background-color: $ebony;
      box-shadow: 0 0 #{rem-calc(30)} 0 $black;
      &.active {
        display: block;
        opacity: 1;
      }
      h2 {
        margin-bottom: $grid-gutter-width;
      }
      p {
        font-weight: $text-light;
        font-size: rem-calc(16);
        margin-bottom: $grid-gutter-width;
      }
      .button-cta {
        margin-bottom: $grid-gutter-width * 2;
        svg {
          transform: scale(1.25);
        }
      }
    }
    .accordion--trigger {
      position: absolute;
      cursor: pointer;
      background-size: auto 66.667%;
      background-position: 33.334% center;
      padding: $grid-column-padding;
      height: rem-calc(75);
      &:nth-of-type(2) {
        top: rem-calc(75);
      }
      &:nth-of-type(3) {
        top: rem-calc(150);
      }
      &:nth-of-type(4) {
        top: rem-calc(225);
      }
      &:nth-of-type(5) {
        top: rem-calc(300);
      }
      &:nth-of-type(6) {
        top: rem-calc(450);
      }
      &:nth-of-type(7) {
        top: rem-calc(600);
      }
    }
  }
  //The accordion itself
  dl {
    flex-direction: column;
    justify-content: flex-start;
    min-height: rem-calc(420);
    margin: auto;
    dd, dt, dd > div{
      display: flex;
      align-self: flex-start;
    }
    //The trigger, and on mobile, the headline
    dt {
      background-size:contain;
      background-position: center;
      background-repeat: no-repeat;
      img {
        width: 100%;
        height: auto;
        &:nth-of-type(2) {
          display: none;
        }
      }
      &:hover {
        img {
          display: none;
          &:nth-of-type(2) {
            display: intial;
          }
        }
      }
    }
    dd {
      button, a {
        &.button {
          margin: auto auto #{rem-calc(10)} auto;
        }
      }
    }
  }
  figcaption {
    > * {
      padding-top: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
  li {
    h6 {
      margin-bottom: $grid-column-padding;
    }
  }
  nav {
    position: relative;
    button {
      &.muted {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }
  .feature {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}