/**
 * testimonial-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.testimonial-grid {
  width: 100%;
  padding-bottom: $padding-small;
  li {
    figure {
      min-height: 50vh;
      [data-background]{
        display: table;
        width: 100%;
        height: inherit;
        min-height: inherit;
      }
      figcaption {
        p:first-of-type {
          margin-top: $grid-gutter-width;
        }
        strong {
          margin-top: $grid-gutter-width;
          padding-bottom: $padding-small;
          border-bottom: solid 1px $smoke;
        }
      }
    }
  }
  @include screen-lg-up {
    padding-bottom: 120px;
  }
  footer,
  h4 {
    margin-top: $padding-large;
  }
  p {
    font-size: rem-calc(14);
    font-weight: $text-light;
  }
  .slick-slider {
    margin-left: auto;
    margin-right: 0;
    .slick-arrow {
      display: none;
    }
  }
  .thumbnail {
    width: 100%;
    &:hover {
      background-color: transparent !important;
    }
    .button {
      margin-left: rem-calc(-30);
    }
  }
}