/**
 * testimonial-grid Styles
 * ----------------------------------------------------------------------------
 *
 * About the module
 *
 */

.testimonial-grid {
  width: 100%;
  padding-top: $padding-small;
  padding-bottom: $padding-small;
  li {
    figure {
      min-height: 50vh;
      @include screen-md {
        min-height: initial;
        height: $thumbnail-height;
      }
      [data-background]{
        display: table;
        width: 100%;
        height: inherit;
        min-height: inherit;
      }
      figcaption {
        p:first-of-type {
          margin-top: $grid-gutter-width;
        }
        strong {
          margin-top: $grid-gutter-width;
          padding-bottom: $padding-small;
          border-bottom: solid 1px $smoke;
        }
      }
    }
  }
  @include screen-lg-up {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
  footer,
  h4 {
    @include screen-md {
      margin-bottom: $padding-medium;
    }
    @include screen-lg-up {
      margin-top: $padding-small * 3;
    }
  }
  p {
    font-size: rem-calc(14);
    font-weight: $text-light;
  }
  .slick-slider {
    margin-left: auto;
    margin-right: 0;
    .slick-arrow {
      display: none;
    }
    .slick-list {
      max-width: $container-width;
      margin-left: auto;
      margin-right: auto;
      overflow: visible;
    }
    .slick-slide {
      transition: opacity 150ms ease-in-out;
      &[aria-hidden="true"] {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    }
  }
  .thumbnail {
    width: 100%;
    &:hover {
      background-color: transparent !important;
    }
    .button {
      margin-left: rem-calc(-30);
    }
  }
}