[data-component="callout-image"]{
  min-height: 50vh;
  overflow: hidden;
  position: relative;
  article.content .container & {
    width: calc(100% + #{$grid-gutter-width * 2});
  }
  margin-left: $grid-gutter-width * -1;
  margin-right: $grid-gutter-width * -1;
  * {
    color: $white;
  }

  blockquote {
    display: table;
    align-self: center;
    font-size: rem-calc(20);
    line-height: 1.75;
    @include screen-lg-up {
      font-size: rem-calc(36);
      line-height: 1.9375;
    }
    @include screen-sm {
      &.col:not([data-component]):not([data-slick-nav]) {
        padding-left: $grid-column-padding * 3;
        padding-right: $grid-column-padding * 3;
      }
    }
  }

  .container {
    flex-direction: column;
  }

  .feature {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
