/**
 * Innovation Card
 * ----------------------------------------------------------------------------
 *
 * Similar to the Division Card, show the related capabilites CPTs and content about this innovation
 *
 */

.innovation-card {
  width: 100%;
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  figure {
    > img {
      margin-bottom: $grid-gutter-width + $grid-column-padding;
    }
    @include screen-sm {
      &.col:not([data-component]):not([data-slick-nav]) {
        padding-bottom: $padding-small;
      }
      border-bottom: solid 1px $smoke;
    }
    figcaption {
      > strong {
        margin-bottom: $padding-xsmall;
      }
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  dl {
    @include screen-sm-up {
      border-left: solid 1px $smoke;
      margin-left: $padding-xsmall;
      width: calc(66.6667% - #{$grid-column-padding});
    }
    @include screen-md-up {
      dt {
        padding-left: $padding-medium !important;
      }
    }
    @include screen-sm {
      &.col:not([data-component]):not([data-slick-nav]) {
        padding-top: $grid-gutter-width;
        padding-left: 0;
        padding-right: 0;
      }
      margin-top: 0;
    }
    > div:last-of-type {
      dt, dd {
        margin-bottom: auto;
      }
    }
    dt, dd {
      display: flex;
      width: 50%;
      flex: 0 0.5 auto;
      margin-bottom: $padding-medium;
    }
  }
  nav {
    margin-top: $padding-large;
  }
}
